/* style.css */
body {
  font-family: Georgia, serif;   /* nice readable font */
  margin: 15px;                  /* space from edges */
  line-height: 1.1;              /* better readability */
  max-width: 800px;              /* keeps text easy to read */
  margin-left: auto;
  margin-right: auto; 
  font-size: 20px;           /* centers content */
}

h1 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: blue;
}

p {
  white-space: pre-line; /* respects line breaks in HTML */
}

@media (max-width: 800px) {
  body {
    font-size: 14px; /* slightly smaller font for small screens */
    padding: 10px;
  }
}

img {
  max-width: 100%;   /* image never wider than container */
  height: auto;      /* keeps aspect ratio */
  display: block;    /* removes small gaps under images */
  margin: 10px auto; /* centers image with space around */
}

video {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 80vh;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(255,255,255,0.2);

    }

#title {
  text-align: left;
}


.poem {
      width: 100%;
      text-align: left
      
      }

.prose {
      width: 100%;
      text-align: left;
      }

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #555;
  margin: 2rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}
.divider:not(:empty)::after {
  margin-left: 0.75em;
}

.divider span {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}
